APP_NAME = ApiEmployeesAndDepartments
APP_ENV = development

APP_PORT = 8080
DATABASE_HOST = db
DATABASE_PORT = 5432
DATABASE_USER = postgres
DATABASE_PASSWORD = postgres
DATABASE_NAME = companydb
DATABASE_SSLMODE = disable